@charset "utf-8";
/* CSS Document */
/* css  样式自用*/

/* 通用css样式类：如，浮动，清除浮动、 */
body,ul,.con_sec{ margin:0px; padding:0px;}
html,body{ height:100%;}
html{overflow:auto;} /*IE7*/
body{ font-family:"微软雅黑";
	font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;

}

[v-cloak]{display:none;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
blockquote, body, button, dd,
div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
input, textarea, button, a {
	outline: 0;
}
img{
	vertical-align:middle;
}


a,a:hover{ text-decoration:none;}
a:hover {cursor: pointer}
.line{
	text-decoration: underline;
}

li {
	list-style: none;
}

.fl{ float:left;}
.fr{ float:right;}

.ps_a{ position:absolute;}
.ps_r{ position:relative;}
.ps_f{ position:fixed;}

.t_r{ text-align:right;}
.t_l{ text-align:left;}
.t_c{ text-align:center;}

.v_m{ vertical-align:middle;}
.v_t{ vertical-align:middle;}

.fw_b{ font-weight:700;}
.fw_n{ font-weight:normal;}

.hand{ cursor:pointer;}
.def{ cursor:default;}

.dpn{ display:none;}
.dpb{ display:block;}
.cl{ clear:both;}

.of_h{ overflow:hidden;}
.of_a{ overflow:auto;}
.of_sx{ overflow-x:scroll;overflow-x:hidden;}
.of_sy{ overflow-y:scroll;overflow-x:hidden;}
.of_ay{ overflow-y:auto;overflow-x:hidden;}


/*遮罩层*/
#zhezhao{position:absolute;opacity:0.5; filter: alpha(opacity=50); background-color:#000; /* display:none; */ position:fixed;z-index:999; }
#jm{ display:none;position:fixed; _position:absolute; top:0; z-index:1000; margin:200px 0 0 700px; border:0px solid #999999; background:#FFFFFF; width:430px; height:180px;}
/*   table  无边框的样式*/
.tb_n{ margin:0px; border:0px; border-collapse:collapse; border-spacing:0px;}
.tb_n td{padding:0px;}

.tb_y{margin:0px; border:0px; border-collapse:separate; border-spacing:1px;}
.tb_y td{padding:0px;}

.tbc_1{ background:#bab6d1;}  /*table 的边框颜色*/


/* ul 的横排列样式*/
.lul{ list-style:none; padding:0px; margin:0px;}

/*网站专用类如：背景图片，北京颜色、字体颜色*/
/*字体大小类*/
.f_10{ font-size:10px;}
.f_12{ font-size:12px;}
.f_14{ font-size:14px;}
.f_15{ font-size:15px;}
.f_16{ font-size:16px;}
.f_18{ font-size:18px;}
.f_20{ font-size:20px;}
.f_24{ font-size:24px;}
.f_28{ font-size:28px;}
/* 字体种类*/
.ff{ font-family:"微软雅黑";}
/*字体颜色类*/
.fc_0{ color:#FFF;}







/*宽度类 像素*/
.w_20{ width:20px;}



/*宽度类 百分比*/
.w_p100{ width:100%;}






/*高度*/
.h_10{ height:10px;}



.h_p100{ height:100%;}




/*行高*/
.lh_19{line-height:19px;}

/*内边距*/
.pd_0{ padding:0px;}


.pr_15{ padding-right:15px;}

.pl_5{ padding-left:5px;}


.plr_4{ padding-left:4px; padding-right: 4px}

.pt_2{ padding-top:2px;}
.pt_235{ padding-top:235px;}


.pb_2{ padding-bottom:2px;}




/*外边距*/
.mg_0{ margin:0px;}
.mg_auto{ margin:0 auto;}


.m_10{ margin:10px;}
.m_lr10{ margin:0px 10px;}

.ml_42{ margin-left:42px;}


.mr_10{ margin-right:10px;}

.mt_f1{ margin-top:-1px;}

.mt_160{ margin-top:160px;}


.mb_1{ margin-bottom:1px;}

/*相对于父级的  top   bottom  left  right*/
.t_p50{ top:50%;}

/*div层级*/
.zi_z1{ z-index:1;}

/*圆角*/
.yj_t1{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.yj_b1{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.yj_tr{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.zi_f1{ z-index:-1;}

/*背景颜色*/
.bgc_n{background:none;}   /* 无色 */
.bgc_f{background: #fff;}  /* 白色 */
.bgc_fb{background: #fbfbfb;}

/*背景图片*/
/*.bgi_0{ background:url(../images/tobar_02.png) repeat-x;}*/


/*边框大小*/
.b_0{ border:0px;}

.bt_1{ border-top:1px solid #B1C8D3;}


.br_0{ border-right:0px;}

.br_n{ border-radius:0px;}

.bl_1{ border-left:1px solid #000;}

.br_1{ border-right:1px solid #000;}

.blr_1{border-right:1px solid #B1C8D3;border-left:1px solid #B1C8D3;}

.btl_1{ border-top:1px solid #B1C8D3;border-left:1px solid #B1C8D3;}

.br_0{	border-radius: 0px;}

/*对某些元素的修饰超过 两个属性以上的*/
.div_alc{display:inline-block;margin:0px 10px;}/* div的居中对齐方法,必须配合外层*/


/*
	首页
------------------------------------------------------------------------
*/

/*头部*/
.header-wrap {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 22;
}
.head-box {
	box-sizing: border-box;
	position: relative;
	min-width: 1050px;
	min-height: 122px;
	margin: 0 auto;
	padding: 40px 60px;
	transition:all 0.4s;
}
.scolled{
	min-height:80px !important;
	padding:20px 60px !important;	
}
.head-box-logo {
	width: 150px;
	height: 31px;
	margin-top: 2px;
	float: left;
}
.head-box-logo img {
	width: 100%;
	height: 100%;
}
.head-box-nav {
	margin-top: 9px;
	float: right;
	transition: top 0.1s ease;
}
.nav-list {
	/*margin-left: 562px;*/
}
.nav-list li{
	float: left;
	width: 10vw;
	margin: 0 6px;
	text-align: center;
	position: relative;
}
.nav-list li>a {
	font-size: 18px;
	color: #666;
	position: relative;
	transition: opacity 0.2s ease-in-out;
}
.nav-list li:hover .menuspan{
	display: block;
    width: 90px;
    margin: 0 auto;
	color: #ff0000;
	border-bottom: 4px solid #ff0000 ;
}
.nav-list li:hover .menuspan2{
	color: #ff0000;
}
.menuspan3{
	color: #ff0000;
}
.menuspan4{
	display: block;
    width: 90px;
    margin: 0 auto;
	color: #ff0000;
	border-bottom: 4px solid #ff0000 ;
}
.nav-list li ul{
	display:none;
}
.nav-list li:hover ul{
	display:block;
	width: 140px;
	margin: 0 auto;
	position: absolute;
	padding-top: 23px;
}
.nav-list li:hover ul li{
	margin: 0 auto;
	height: 60px;
	line-height: 12px;
	background: #f2f2f2;
	width: 100%;
	text-align: center;
}
.nav-list li:hover ul li span{
	display: inline-block;
	margin-top: 20px;
}
.nav-list li:hover ul li:hover{
	background:#e93429;
}
.nav-list li:hover ul>a {
	font-size: 12px;
	color: #666666!important;
	font-weight: 600;
	border: 0px!important;
}
.nav-list li:hover ul>a:hover{
	color: #fff!important;
}
/*.nav-list li:hover ul>a li span {
	margin-left: -46px;
}*/

.head-box-lang {
	/*margin-left: 68px;*/
	margin-top:4px;
	float: right;
}
.head-box-lang span {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	box-sizing: border-box;
	color: #999;
	border: 1px solid transparent;
	border-radius: 50%;
	margin-right: 18px;
	font-size: 10px;
}
.head-box-lang span:hover,
.head-box-lang .lang_ac2 {
	border: 1px solid #c1c1c1;
	border-radius: 50%;
}
.nav-list li:hover .nav-current-list{
	display: block;
}
.nav-current-list {
	width: 154px;
	height: 160px;
	position: absolute;
	top: 75px;
	left: 2px;
	background-color: #f2f2f2;
	display: none;
}
.nav-current-list a {
	color: #666;
	font-size: 12px;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 154px;
}
.nav-current-list .current,
.nav-current-list a:hover{
	color: #fff;
	background-color: #e83428;
}

/*banner*/

.index-banner-box {
	/*width: 100%;*/
	/*height: 617px;*/
	position: relative;
	box-sizing: border-box;
	min-height: 450px;
	margin: 0 0 60px;
	padding-top: 122px;
	overflow:hidden; 
}
.index-banner-up {
	position: absolute;
	top: 189px;
	left: 0;
	z-index:2;
}
.banner-box-left {
	height: 330px;
	width: 38px;
	margin-top: 85px;
}
.banner-box-left img{
	height: 75%;
	width: 100%;
}
.banner-box-title {
	position: absolute;
	left: 167px;
	top: 0;

}
.banner-box-title img {
	display: block;
	position: relative;
	height: auto;
	margin-top: 85px;

}
.banner-box-title img {
	display: block;
	position: relative;
	height: auto;
	margin-bottom: 38px;

}
.banner-box-title .box-title-img1 {
	width: 608px;
}
.banner-box-title .box-title-img1 img {
	z-index:2;
	width: 60%;
	height: auto;
}
.banner-box-title .box-title-img2 {
	width: 272px;
	height: 136px;
}
.banner-box-title .box-title-img2 img{
	width: 100%;
	height: auto;

}
.banner-down {
	width: 1345px;
	padding-left: 303px;
	box-sizing: border-box;
	height: 426px;
}
.banner-down img{
	/*min-width: 830px;*/
	/*min-height: 450px;*/
	/*max-height: 590px;*/
	max-width: 100%;
}


/*主体*/
.design-box{
	padding: 496px 0 177px 0;
	position: relative;
}
.design-bg {
	background-color: #f3f8fb;
	height: 480px;
	width: 100%;
	padding-top: 57px;
	box-sizing: border-box;
	margin-top: -125px;
}
.design-xiexian {
	/*width: 216px;*/
	/*height: 207px;*/
	/*margin-left: 60px;*/
	width: 260px;
	height: 256px;
	margin-left: 138px;
}
.design-xiexian img{
	width: 100%;
	height: 100%;
}
.design-content {
	position: absolute;
	top: 0;
	left: 0;
}
.design-content-top {
	/*width: 1036px;*/
	/*padding-top: 50px;*/
	box-sizing: border-box;
}
.product-line {
	width: 3px;
	height: 50px;
	background-color: #ff0000;
	margin: 0 auto;
}
.content-top-title {
	font-size: 30px;
	color: #ff0000;
	text-align: center;
	font-weight: 500;
	margin:25px 0 0 11px;
}
.design-con-detail {
	margin-top: 82px;
	/*padding-left: 245px;*/
	height: 540px;
	box-sizing: border-box;
	width: 60%;
	margin-left: 26%;
}
.design-con-img {
	width:354px;
	height: 354px;

}
.design-con-img img {
	width: 100%;
	height: 100%;
}
.design-con-text {
	margin-top: 30px;
	/*width: 46%;*/
}
.core-value {
	width: 171px;
	background-color: #e83428;
	height: 350px;

}
.core-value p {
	font-size: 22px;
	color: #fff;
	/*text-align: center;*/
	margin-top: 23px;
	font-weight: 700;
	/*line-height: 30px;*/
	margin-left: 12px;
}
.core-value-decoration {
	width: 171px;
	height: 350px;
	background: url("../image/core_value.png") no-repeat center;
}
.core-value-tags {
	width: 100%;
	padding:18px 0 0 8px;
	box-sizing: border-box;
}
.core-value-tags li {

}
.core-value-tags .horizon-line a {
	display: block;
	width: 120px;
	height: 6px;
	line-height: 6px;
	background-color: #fff;
}
.core-value-tags li a {
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	margin: 14px 0;
	display: block;
}
.design-content-bottom {
	/*width: 1719px;*/
	height: 412px;
	position: relative;
	top: -102px;
	padding-left: 183px;
}
.design-content-bottom .design-content-img {
	width: 100%;
	height: 100%
}
.small-img {
	position: absolute;
	left: 38%;
	top: 112px;
}
.small-img img {
	width: 163px;
	height: 200px;
	margin-right: 70px;

}
.products {
	width: 100%;
	margin-top: 112px;
}
.products-list {
	width: 1104px;
	margin: 0 auto;
	overflow: auto;
	padding-bottom: 37px;
}
.products-list-img {
	width: 208px;
	height: 208px;
	margin: 0 auto;
}
.products-list li {
	float: left;
	/*padding-left: 48px;*/
	width: 275px;
	box-sizing: border-box;
	text-align: center;
	/*cursor: pointer;*/
}
.products-list img	{
	width: 208px;
	height: 208px;
}
.products-list p {
	font-size: 16px;
	color: #444444;
	line-height: 22px;
	margin: 28px 0 134px 0;
	font-weight: 500;
	text-align: center;
}
.product-box {
	padding-top: 108px;
}

/*footer*/
.foot-box {
	height: 444px;
	/*width: 100%;*/
	background-color: #e60012;
	padding-left:  62px;
	box-sizing: border-box;
}
.foot-left-title {
	font-size: 30px;
	line-height: 48px;
	color: #fff;
	padding-top: 56px;
}
.foot-logo {
	width: 153px;
	height: 33px;
	margin: 114px 0 12px 0;
}
.foot-logo img {
	width: 100%;
	height: 100%;
}
.copyright {
	font-size: 13px;
	line-height: 48px;
	color: #fff;
}
.foot-box-right {
	margin-right: 57px;
	padding-top: 56px;
	box-sizing: border-box;
}
.joinUs-text {
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	margin-right: 24px;
}
.joinUs-more {
	width: 27px;
	height: 27px;
	display: inline-block;
	border-radius: 50%;
	line-height: 27px;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	text-decoration: none!important;
}
.follow-us {
	margin: 226px 0 44px 0;
}
.followUs-text {
	font-size: 12px;
	color: #fff;
	/*line-height: 17;*/
}
.follow-line {
	height: 16px;
	width: 64px;
	display: inline-block;
	line-height: 10px;
	text-align: center;
	vertical-align: middle;

}
.follow-line i{
	width: 31px;
	height: 2px;
	background-color: #fff;
	display: inline-block;
}
.follow-us a:nth-child(3) {
	margin-right: 20px;
}
.follow-us a:nth-child(4) {
	margin-right: 13px;
}
.footer-nav li{
	float: left;
}
.footer-nav li a {
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	margin-left: 10px;
}

/*
product page
------------------------------------------------------------
*/
.productPage-banner-box {
	width: 100%;
	padding-top: 122px;
}
.productPage-banner-box .banner-img {
	width: 100%;
}
.banner-img img{
	width: 100%;
	height: auto;
	/*height: 702px ;*/
}
.productPage-main-container {

}
.productPage-sortsBox {
	padding-top: 68px;
	margin-bottom: 19px;
}
.productPage-sort-list {
	margin: 0 auto;
    height: 163px;
    width: 1078px;
    text-align: center;
}
.productPage-sort-list li {
    float: left;
    text-align: center;
}
.sort-listImg {
	width: 101px;
    height: 101px;
	margin-right: 16px;
    margin-left: 16px;
   }
.sort-listImg2{
	margin: 0 auto;
	display: block;
}
.productPage-sort-list p:hover{
	color: red;
	transition: all 1s;
}
.productPage-sort-list img {
	width: 100%;
	height: 100%;
}
.productPage-sort-list p {
	width: 101px;
    margin: 0 auto;
	font-size: 12px;
	color: #444;
	margin-top: 8px;
}
.productPage-container {
	width: 1036px;
	padding-right: 12px;
	margin: 0 auto;
}
.productPage-item {
	width: 100%;
	/*margin: 0 auto;*/
	margin-bottom: 70px;
	background-color: #fff;
}
.productPage-item-title {
	width: 100%;
	height: 49px;
	background-color: #ff0000;
	vertical-align: middle;
}
.productPage-item-title p {
	font-size: 20px;
	line-height: 49px;
	height: 49px;
	color: #fff;
	padding-left: 19px;
}
.detail-items-box {
	width: 1008px;
	padding-top: 13px;
	margin: 0 auto;
}
.img-long {
	width: 189px;
    margin-left: 9px;
    height: 265px;
}
.img-long img {
	text-align: center;
    display: block;
    margin: 0 auto;
}
.img-four {
	width: 397px;
	height:265px;
    margin-left: 10px;
}
.img-four::after {
	content: '';
    width: 386px;
    height: 1px;
    background: #dcdcdc;
    position: absolute;
    top: 144px;
    left: 209px;
}
.img-four::before {
	content: '';
    width: 1px;
    height: 407px;
    background: #dcdcdc;
    position: absolute;
    top: 14px;
    left: 604px;
}
.detail-items-box::before {
	content: '';
    width: 1px;
    height: 270px;
    background: #dcdcdc;
    position: absolute;
    top: 14px;
    left: 403px;
}

.img-four div {
	float: left;
    width: 195px;
    height: 132px;
position: relative;  
}
.img-four a img {
	margin: auto;  
	position: absolute;  
	top: 0; left: 0; bottom: 0; right: 0;
}
.itemBox-top {
	overflow: hidden;
	margin: 0 auto;
}
.itemBox-bottom{
	float: left;
	width: 189px;
	height:134px;
    display: block;
    margin: 14px 2px 20px 9px;

}
.itemBox-bottom img {
	width: 100%;
	height: 100%;
}
.detail-items-box .img-long:nth-child(3) {
	margin-left: 8px;
	margin-right: 1px;
}
.itemBox-bottomml12{
	margin-left: 12px;
}


/*
	合作机会页面
-----------------------------------------------------------------
*/
.head-border {
	border-bottom: 1px solid #edede5;
}
.cooperation-container {
	width: 1134px;
	margin: 0 auto;
	padding-top: 122px;
}
.cooperation-content {

}
.cooperation-content h1 {
	font-size: 50px;
	color: #373737;
	padding: 135px 0 96px 302px;
}
.cooperation-content-detail {
	overflow: hidden;
}
.coo-detail-img {
	width: 348px;
	height: 401px;
	float: left;
}
.coo-detail-img img {
	width: 100%;
	height: 100%;
}
.coo-detail-text {
	width: 688px;
	height: 401px;
	float: left;
	padding-left: 80px;
	box-sizing: border-box;
	background: url("../image/cooperation_2.jpg") no-repeat 117px 88px;
}
.coo-detail-text p {
	font-size: 14px;
	line-height: 30px;
	color: #666;
}
.coo-detail-text p:nth-child(4){
	margin-top: 247px;
}
.person-introduce {
	overflow: hidden;
	margin-top: 169px;
}
.person-introduce li {
	width: 286px;
	float: left;
	margin-right: 46px;
    margin-bottom: 130px;
    margin-left: 46px;
}
.person-introduce li:last-child {

	margin-right: 0;
}
.person-intro-img {
	width: 283px;
	height: 321px;
	margin-bottom: 20px;
	overflow: hidden;
}
.person-intro-img img {
	width: 100%;
	/*height: 100%;*/
}
.person-introduce h3 {
	font-size: 16px;
	line-height: 24px;
	color: #404040;
	width: 286px;
	margin-bottom: 12px;
}
.person-introduce span {
	font-size: 14px;
	line-height: 24px;
	color: #666;
	display: block;
}
/*.person-introduce p span:nth-child(3) {
	padding-left: 28px;
}*/
/*
stores
*/

.store-container h1{
	font-size: 50px;
	color: #373737;
	text-align: center;
	margin-bottom: 93px;
	line-height: 30px;
}
.swiper-container{
	width: 65vw;
	height: auto;
}
.img-item{
	width: 65vw;
	height: auto;
}

/*供应商频道样式*/
.channel-content{
	width: 980px;
	margin: 0 auto;
	padding: 100px;
	
}
#channel-content{
	background: url("/index/image/lianxi-banner.jpg") no-repeat;
	background-size: 100%;
	height: 580px;
	min-width: 1200px;
}
.framework section{
	width: 420px;
	height: 300px;
	display: table-cell;
	vertical-align: bottom;
}
.channel-content-top .title {
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}
#introduce p,.contactus p{
	color: rgb(150,150,150);
}
#introduce p{
	line-height: 30px;
}
.line_h30{
	line-height: 30px;
}
/*.f_18 {
    margin-top: 10px;
}*/
p.min_logo {
    margin-top: 10px;
    float: right;
}
.contactus>.f_18{
	margin-top: 100px;
	margin-bottom: 50px;
	color: red;
}
.mt_10 span {
    margin-left: 50px;
    color: red;
}

/*brand修改样式*/

.content-center{
	max-width: 1050px;
	margin: 0 80px;
}
.ml_65{
	float: left;
	margin: 0 80px;
	margin-top: -50px;
}
.Development_History{
	clear: both;
}
.Founder{
	height: 600px;
}
.Env_title{
	padding-top: 150px;
}
.introduced{
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 65px;
}

.bg_Development_History{
	padding-left: -300px;
}
.content.ml_65.content-right{
	margin-left: 180px;
}


.storesdi1{
	position: absolute;
	top:182px;
	left: 0;
    right: 0;
    margin-left: 330px;
    width: 380px;
    color:#666666;
}
.storesdi2{
	position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    color: #666666;
    width: 804px;
    margin: auto;
    font-size: 13px;
    line-height: 24px;
}
.storesdi3{
	position: absolute;
    top: 566px;
    left: 0;
    right: 0;
    width: 900px;
    margin: auto;
}
.storesdi3 h5{
	color: red;
    font-size: 18px;
}
.storesdi3ul{
	margin: 0 auto;
	margin-top: 81px;
	height:870px;
}
.storesdi3ul li{
    font-size: 14px;
    color: #fff;
    float: left;
    line-height: 24px;
    width: 195px;
    height: 153px;
    margin-left: 26px;
    margin-right: 26px;
    padding: 50px 26px 0 27px;
    margin-bottom: 9px;
}
.storesdi3 h5:nth-child(1){
	margin-top: 106px;margin-left: 360px;
}
.storesdi3 h5:last-child{
	margin-left: 360px;margin-top:52px;
}
.storesh2{
	color: red;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    text-align: center;
}











































































/*响应式样式布局配合meta标签   代码：<meta name="viewport" content="width=device-width, initial-scale=1" />*/
/*@media screen and (min-width:1200px) and (max-width:1400px){

}

@media screen and (max-width:1199px){

}

@media screen and (min-width:1401px){


}*/
/****************************************************************************************************************************************************************************/
/*选择器参考*/
/*.father .child{color:#0000CC;}   后代选择器*/
/*#links > a {color:blue;}           儿子选择器*/
/*p *{color:blue;}                   后代的 通通  子元素*/
/*h1 + p {color:blue}                下一个元素选择器，H1 紧跟的后面p元素*/
/*p[title='app']{　color:#FF0000;}    通过属性选择  p标签中title属性为app 的元素*/







/*对于IE，火狐，谷歌，平果浏览器的兼容性问题的，css样式

FF认识 !inportant  IE不认识
padding 在FF中会增加height 和width ；  在IE中则不会

div{margin:30px!important;margin:28px;} 注意这两个 margin的顺序一定不能写反， important这个属性IE不能识别，但别的浏览器可以识别
*/

/*********************************************
手机布局注意几个问题

1、width 用百分比 ；  少用不用高度height；

2、尽量从里面倒外边控制margin；不用设置高度，而用撑开；

3、字体不用px；


某网站系统的字体配色：

.fc_zw{ color:#363636;} /*正文黑色字体，不采用全黑；*
.fc_qdsz{ color:#00559e;}/*浅底色，深字体颜色 、 标题选中加粗，大小和正文一致   
.fc_sdbz{ color:#fffeff;}/*深底色，白色字体，标题选中加粗，大小和正文
.fc_zs{ color:#9b9b9b；} /* 白底，注释用字体，浅灰色/
.fc_ts{ color:#00549c;}/*提示字体颜色，浅蓝/

.f_12{ font-size:12px;} /*栏目标题和正文都用12号字体， 标题被选中可以加粗； 行高一般用30的行高；
.lh_30{ line-height:30px;} /*栏目高度一般是30； 导航nav用 34；   栏目的tab高度27；于nav相差大概7~8个像0素； /
.h_25{height:25px;}/*搜索框input的高度23~25左右， 另外可以组两个一个像素的框叠加看似边框2个像素却不同颜色，/


**/


